<% include header.html %>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="#">Monitor</a>
            </div>
        </div>
    </nav>
    <br><br>
<div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div align="center">
                    <span>Temperature</span>
                    <div id="gaugeChart" class="epoch gauge-small"></div>
                    </div>  
                </div>
                <div class="col-lg-9">
                    <div align="center">
                     <div id="temperatures" style="width: 60%; height: 200px" class="styles1"></div>
                     </div>
                </div>
            </div>
        </div>
        
<script src="/socket.io/socket.io.js"></script>
<script>
    
   $(document).ready(function(){
            
     var temperatures = $('#temperatures').epoch( 
     { 
         type: 'time.line', 
         axes: ['left', 'bottom', 'right'], 
         data: [ { 
             values: [ { 
                 time: Date.now()/1000, 
                 y: 50 } ] 
                } ],
                 range: [0, 40] 
            } ); 
    
    var valvula = $('#gaugeChart').epoch({
        type: 'time.gauge',
        value: 0.0,
        domain: [0, 40],
        format: function(v) { return (v).toFixed(2) + ' C'; }
    });
              
    var socket = io();

    socket.on('temp', function(dataPoint){
        $("#tempval").text(dataPoint[0].y);
         temperatures.push(dataPoint); 
         valvula.push(dataPoint[0].y)
        socket.emit('recived');
    });
    
});


</script>


    <script src="js/d3.js"></script>
    <script src="js/epoch.js"></script>
</body>